@import "tailwindcss";

@theme {
  --color-primary: #0f172a;
  --color-accent: #c0aaf5;
  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;
}

@layer base {
  body {
    @apply antialiased text-slate-900 bg-white;
    font-family: var(--font-sans);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-serif);
  }
}