@import "tailwindcss";

@theme {
  --color-primary: #111111;
  --color-accent: #C5A059;
  --color-brand-gold: #C5A059;
  --color-brand-cream: #F9F9F7;
  --color-brand-red: #8B0000;
  --color-brand-black: #111111;
  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;
}

@layer base {
  body {
    @apply antialiased text-slate-900 bg-white;
    font-family: var(--font-sans);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-serif);
  }
}